<!-- <div class="d-lg-flex flex-row align-items-lg-center">
  <h3 class="display-4 mb-6 mb-lg-0 pe-lg-20 pe-xl-22 pe-xxl-25 text-white">Join our community by using
      our products and grow your business.</h3>
  <a href="#" class="btn btn-primary rounded-pill mb-0 text-nowrap">Try It For Free</a>
</div> -->
<!--/div -->
<!-- <hr class="mt-11 mb-12" /> -->
<div class="container  pt-12 pt-md-15 pb-8 pb-md-10">
  <div class="row gy-6 gy-lg-0">
    <div class="col-md-4 col-lg-3">
      <div class="widget">
        <!-- @@if (!context.lightText) {
        <img style="width: 130px;" class="mb-4" src="@@webRoot/assets/img/logo-dark.png"
          srcset="@@webRoot/assets/img/logo-dark@2x.png 2x" alt="" />
        }
        @@if (context.lightText) {
        <img style="width: 130px;" class="mb-4" src="@@webRoot/assets/img/logo-light.png"
          srcset="@@webRoot/assets/img/logo-light@2x.png 2x" alt="" />
        } -->
        <img style="width: 130px;" class="mb-4" src="@@webRoot/assets/img/logo-dark.png"
          srcset="@@webRoot/assets/img/logo-dark@2x.png 2x" alt="" />
          <p class="mb-4">Follow us on</p>
   
        <nav class="nav social @@if (context.lightText) {social-white}">
       
          <a ><i class="uil uil-twitter"></i></a>
         
          <a ><i class="uil uil-linkedin"></i></a>
          <!-- <a href="#"><i class="uil uil-facebook-f"></i></a> -->
          <!-- <a href="#"><i class="uil uil-dribbble"></i></a> -->
          <a href="https://www.instagram.com/hariii_prasath/"><i class="uil uil-instagram"></i></a>
        
          <a ><i class="uil uil-youtube"></i></a>
        </nav>
        <!-- /.social -->
      </div>
      <!-- /.widget -->
    </div>
    <!-- /column -->
    <div class="col-md-4 col-lg-3">
      <div class="widget">
        <h4 class="widget-title @@if (context.lightText) {text-white} mb-3">Get in Touch</h4>
        <address class="pe-xl-15 pe-xxl-17">Pirai Technologies, Usilampatti, Madurai-625532, TamilNadu, India, +91 6369773902</address>
       
    </div>
      <!-- /.widget -->
    </div>
    <!-- /column -->
    <div class="col-md-4 col-lg-3">
      <div class="widget">
        <h4 class="widget-title @@if (context.lightText) {text-white} mb-3">Learn More</h4>
        <ul class="list-unstyled @@if (!context.lightText) {text-reset} mb-0">
          <!-- href="index.html#explore_now" -->
          <li><a >About Us</a></li>
          <!-- href="blog.html" -->
          <li><a >Blog </a></li>
          <!-- href="#" -->
          <li><a >Contact Info</a></li>
          <!-- href="#" -->
          <li><a >Company</a></li>
          <!-- <li><a href="terms.html">Privacy Policy</a></li> -->
        </ul>
      </div>
    
    </div>
   
 
  </div>
</div>



