<style>
  .fontColour{
    color: black;
  }
</style>

<!-- @@if (!context.centerLogo) { -->
<ul class="navbar-nav">
  


  <!--/.dropdown-menu -->

    <ul class="navbar-nav me-lg-auto">
      <li>
        <!-- href="about.html" -->
        <a class="nav-link"  href="about.html">About us</a>
      </li>
      <!-- <li>
       
        <a class="nav-link"  href="customer.html">Services</a>
      </li> -->
      <!-- product.html -->
    </ul>
    <!--/.dropdown-menu -->
  <!-- @@if (context.centerLogo) { -->

  <!-- /.navbar-nav -->
  <div class="w-100 order-3 order-lg-2 d-lg-flex offcanvas-body">
    <ul class="navbar-nav me-lg-auto">  
      <!-- } -->
      <!-- href="blog.html" -->
      <li class="nav-item dropdown">
        <a class="nav-link" href="blog.html">Services</a>
        <!-- about.html -->

      </li>
      <!-- href="contact.html" -->
      <li class="nav-item dropdown">
        <a class="nav-link" href="contact.html">Contact Us</a>
        
        
        <!--/.dropdown-menu -->
      </li>
      <!-- href="career.html" -->
      <li class="nav-item dropdown">
        <a class="nav-link" href="career.html">Project Training</a>

        <!--/.dropdown-menu -->
      </li>
      <!-- @@if (context.centerLogo) { -->
    </ul>
    <!-- /.navbar-nav -->
  </div>
  <!-- } -->
  <!-- @@if (!context.centerLogo) { -->
</ul>
<!-- /.navbar-nav -->
<!-- } -->